@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-topbar: #000000;
  --color-activity: #120a12;
  --color-sidebar: #2e1524;
  --color-editor: #000000;
  --color-preview: #2e1524;
  
  --color-neon: #00ff41;
  --color-neon-dim: #00ff4140;
  --color-neon-bg: #1d331e;
  
  --color-dimmed: #76637b;
  --color-inactive: #4d4452;
  --color-main: #e0e0e0;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-editor);
    color: var(--color-main);
    font-family: var(--font-sans);
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }
}